### Jetbrains
.idea/
out/
asterisk/

### Rust
target/
Cargo.lock
**/*.rs.bk

### Hakell
.stack-work/
*.cabal
stack.yaml.lock

### Scheme, Racket, Emacs
*\~

### Python
__pycache__/
venv/

### C, C++, Java
*.o
*.class

### Golang
pkg/